---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
map: true
---

<p style="margin: 0 0 20px 0; color: #666; font-style: italic; text-align: center;">
  "Science is a collaborative journey. Visualizing where I have shared my research across the globe."
</p>

<div id="map-container" class="talkmap-container" style="height: 500px; width: 100%;">
    <div id="map" style="height: 100%; width: 100%;"></div>
</div>

<script src="/talkmap/org-locations.js"></script>

<script src="/talkmap/map-init.js"></script>


<hr style="margin: 3em 0;">

{% assign talks_by_year = site.talks | sort: 'date' | reverse | group_by_exp: "talk", "talk.date | date: '%Y'" %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}