{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="talk-item">
  <div class="talk-meta-date">
    <span class="talk-date-year">{{ post.date | date: '%Y' }}</span>
    <span class="talk-date-month">{{ post.date | date: '%b %d' }}</span>
  </div>

  <div class="talk-content">
    <h3 class="talk-title">
      {{ title }}
      {% if post.type %}
        <span class="talk-type-badge type-{{ post.type | downcase }}">
          {{ post.type }}
        </span>
      {% endif %}
    </h3>
    
    <div class="talk-venue-info">
      {% if post.venue %}
        <span class="talk-venue">{{ post.venue }}</span>
      {% endif %}
      {% if post.location %}
        <span class="talk-separator">•</span>
        <span class="talk-location">{{ post.location }}</span>
      {% endif %}
    </div>
  </div>
</div>